<div class="logo">
  <h2>Powered by</h2>
  <div class="logo-google-books">
    <img src="../assets/Google_Books_logo_2015.svg"/>
  </div>
</div>
<div class="wrapper">
  <div class="search-panel">
    <div class="header">
      <h1>Find your book</h1>
    </div>
    <div class="basic-search-form">
      <form>
        <label for="main-search">Basic search</label>
        <div class="input-field">
          <input type="search"
                 id="main-search"
                 placeholder="Search by title"
                 autocomplete="off"
                 [formControl]="searchField"
                 autofocus
                 required>
          <button>Search</button>
        </div>
      </form>
    </div>
    <span class="error-message"*ngIf="isError">Sorry, it looks like there was an error. Page will reload automatically in a second.</span>
  </div>
  <div class="book-list"
      *ngIf="isLoaded === true">
      <app-book
            *ngFor="let book of books"
            [book]="book">
      </app-book>
  </div>
</div>